body {
  font-family: 'poppins';
}
a{
  text-decoration: none;
  
}
ul li{
  list-style: none;
}
h2 {
  color: #FDB202;
}
header{
 
  background: transparent url('./images/Hero.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Poppins';
}

nav{
  padding-top: 2rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar-menu {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-menu img {
  width: 100%;
}
.main-nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: absolute;
  top: 0;
  right: 40px;
  padding: 10px;
}
.main-nav li a{
  color: #fff;
}
.hero-text-box{
  width: 100%;
  padding: 6rem 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  
  /* left: 50%; */
  /* -webkit-transform: translate( -50%, -50%);
          transform: translate( -50%, -50%);  */ 
}



.sinu-image{
  /* -webkit-transform: translate( 96%, -88%); */
  /* transform: translate( 96%, -88%);   */
  position: absolute;
  /* margin-top: 6rem; */
  width: 30%;
  top: 15%;
  right: 0;
}
.sinu-image img{
  width: 100%;
}
.hero-text-box center h1{
  font-size:4.5rem;
  letter-spacing: 2;
}
.hero-text-box center {
  /* padding-bottom: 5rem; */
}

.sinu-title{
  width: 43%;
}

.sinu-brief{
  color: #fff;
  padding-top: 10px;
  display: block;
}


.btn:link,
.btn:visited{
  display: inline-block;
  padding: 5px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  /* color: rgb(7 191 184); */
  color: #FDB202;
  -webkit-transition:background-color 0.3s, border 0.2s, color 0.2s;
  transition:background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-join-metaverse{
  margin-top: 100px;
  font-size: 20px;
}

/* section{
  margin-top: 3rem;
} */
.section{
  display: flex;
  justify-content: space-evenly;
}
.section-two {
  align-items: center;
  flex-wrap: wrap;
}

.section-two-container{
  width: 50%;
  color: #f5f5f5a8;
}
.section-two-container p {
  padding-top: 10px;
}
.section-two-img{
  width: 38%;
}

.section-three-content{
  /* background: #000 url('./images/bgsection.png') 0% 0% no-repeat padding-box; */
  background: linear-gradient(to bottom, rgb(3, 3, 3,0.5),  rgba(3, 13, 19, 0.73)),
  url('./images/bgsection.png');;
  opacity: 1;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pvp{
  position: relative;
    top: 240px;
}
.section-three-container{
  width: 50%;
 
  color: #fff;
  border-radius: 4px;
  position: absolute;
  bottom:240px;
}
.section-three-container p {
  background-color: rgba(255, 255, 255, 0.308);
  padding: 45px 30px 67px;
  margin: 0;
  margin-top: 60px;
}
.section-three-sinuverse-text{
  width: 50%;
  background-color: rgba(255, 255, 255, 0.308);
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
  /* position: absolute; */
}
.section-sinuverse{
  
  padding: 4rem 57px;
  flex-wrap: wrap;
}


.team-detail{
  color: #f5f5f5a8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
}
.team-detail span {
  color: gainsboro;
}
.section-three{
  padding: 3rem 0;
  display: flex;
  justify-content: space-evenly;
}

.section-three-vedio{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  width: 70%;
}
.section-three-vedio video{
  width: 100%;
}
.section-three-vedio .ifr{
  width:100%;
  height:300px;
  border:none;
}



.sinu{
  background-color: black;
  padding-top:3em;
  background: transparent url('./images/Hero.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sinu center{
  
  padding: 3rem;
}
.sinu-team{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px;
  justify-content: space-around;
}
.sinu-team-img{
   width: 30%;
   margin-bottom: 30px;
}
.sinu-team-img img{
  width: 100%;
}

footer{
  /* background-color: #0A3240; */
  padding: 2rem 6rem 2rem;
  display:flex;
  justify-content: space-between;
}
footer ul{
  display: flex;
  justify-content: end;
  margin: 0;

}
iframe:focus {
  outline: none;
}

/* iframe[seamless] {
  display: block;
} */
footer ul li{
 width: 35px;
 margin-right: 1rem;

}
.galaContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0px;
}
.galaBox {
  width: 25%;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.galaBox:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.galaBox img {
  width: 70%;
}

 /* ========================== */
 /* ROAD MAP  */
/* ==========================  */

#road-map{
  background: linear-gradient(to bottom, rgb(3, 3, 3,0.5),  rgba(3, 13, 19, 0.73)),
  url('./images/road-map-bg.png');;
  opacity: 1;
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card{
  text-align: left;
  background-color: transparent !important;
  border: none !important;
  color: #fff;
   
}
.card .one{
  color: #44C4FF;
}
.card .two{
  color: #33CC33;
}
.card .three{
  color: #5044FF;
}
.card .four{
  color: #FE439F;
}



.card-image{
  margin: 0 auto;
  width: 54%;
}
.road-map-img img{
  width: 100%;
}
.road-map-title{
  margin: 54px auto;
  width: 369px;
}
.road-map-title img{
  width: 100%;
}
.road-map-content{
  display: none;
  text-align: center;
}

.group-content{
  /* width: 30%; */
}
.group-content img{
  width: 100%;
}
.phase{
  padding-left: 0;
  color: #fff;
}

.token-content{
  /* padding: 30px; */
  display: flex;
  border: 1px solid;
  margin: 0 auto;
  width: 90%;
}

.pie-chart{
  margin: 0 auto;
  width: 20%;
}
.allocated{
  background: #03D5F0;
  flex: 2;

}

.token-title{
  padding: 20px 20px 10px 20px;
}
.bullet-point {
  margin-bottom: 0px;
}
.bullet-point li{
  /* list-style-type: circle; */
  margin-bottom: 0px;
}
.circulate{
  background: #01EF9A;
  flex: 2;
}
.last{
  margin-bottom: 0px;
}
.market{
  flex: 1;
  background: #D01CEF;
}
.fund{
  flex: 1;
  background: #F1F1F1;
}

/***Beginning of media query***/

@media only screen and (max-width:1000px) {
  .navbar-menu {
    width: 56%;
  }
  .pvp {
    top: 0;
  }
  .section-three {
    align-items: center;
  }
  .section-three-container {
    position: relative;
    bottom: 0;
    width: auto;
  }
  .section-two {
    padding-bottom: 40px;
  }
  .galaBox {
    width: 30%;
  }
  .galaContainer {
    justify-content: center;
  }
}
@media only screen and (max-width:800px) {
  .navbar-menu {
    width: 75%;
  }
  .sinu-title {
    width: 80%;
  }
  .sinu-image {
    top: 51%;
    z-index: -1;
  }
  .hero-text-box {
    z-index: 100;
  }
  .section-two-img {
    width: 60%;
  }
  .section-two-container {
    width: 80%;
  }
  .section-three {
    flex-direction: column;
  }
  .sinu-team-img{
    width: 40%;
 }
 .section-three-sinuverse-text {
   width: 80%;
 }
 .galaBox {
  width: 42%;
}
}
@media only screen and (max-width:765px) {
  
  .road-map-img{
    display: none;
  }
  .road-map-content{
   display: block;
  }
  .token-content{
    flex-direction: column;
  }
  .pie-chart{
    width:30%
  }
}
@media only screen and (max-width:600px) {
  .navbar-menu {
    width: 100%;
  }
  .sinu center {
    padding: 3rem 0px 3rem;
  }
  .section-sinuverse{
  
    padding: 4rem 0;
   
  }
  .team-detail {
    margin-bottom: 30px;
    
  }
  .team-detail span {
    margin-top: 20px;
  }
  footer {
    padding: 4rem 2rem 2rem;
  }
}
@media only screen and (max-width:512px) {
  .main-nav {
    width: 81%;
    padding: 6px;
  }
  .sinu-image {
    width: 43%;
  }
  .btn:link, .btn:visited {
    padding: 5px 8px;
  }
  .section-two-container img {
    width: 76%;
  }
  .section-two {
    padding-bottom: 25px;
  }
  .sinu-team-img {
    width: 80%;
    margin-bottom: 20px
;
  }
  .section-three-sinuverse-text {
    width: 100%;
  }
  .galaBox {
    width: 40%;
  }
  .galaBox img {
    width: 100%;
  }
}
@media only screen and (max-width:425px) {
  .main-nav {
    width: 86%;
    left: 19px;
    padding: 0;
  }
  .sinu-image {
    width: 52%;
  }
  footer ul li {
    width: 30px;
  }
  .footerlogo {
    width: 100px;
  }
  .main-nav li a {
    font-size: 13px;
  }
}
@media only screen and (max-width:360px) {

}